<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Guestbook - A Kit demo app">
    <title>Welcome to guestbook</title>

    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- navbar -->
    <nav>
    </nav>
    <section>
        <div class="content container">
            <div class="columns">
                <div class="column">
                    <h3>Messages</h3>
                    <ul class="messages">
                        {% for item in messages %}
                        <li>
                            <time>{{item.timestamp}}</time>
                            <p>{{item.message}}</p>
                            <p> - {{item.name}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% if errors.unknown %}
                    <div class="notification is-danger">{{errors.unknown}}</div>
                    {% endif %}
                    <form method="POST" action="/save-message">
                        {% csrf-field %}
                        <p>
                            <label>
                            Name:
                            <input class="input" type="text" name="name" value="{{name}}" />
                            </label>
                        </p>
                        {% if errors.name %}
                        <div class="notification is-danger">{{errors.name}}</div>
                        {% endif %}
                        <p>
                            <label>
                            Message:
                            <textarea class="textarea" name="message">{{message}}</textarea>
                            </label>
                        </p>
                        {% if errors.message %}
                        <div class="notification is-danger">{{errors.message}}</div>
                        {% endif %}
                        <input type="submit" class="button is-primary is-outlined has-text-dark" value="comment" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
